body{

   .chocolate {
     width: 50%;
     height: auto;
   }
   
  .aritos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .aritos img{
    width: calc(50% - 5px) ;
  }
  
  .pulsera {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .pulsera img {
    width: calc(50% - 5px);
  }
  
.div {
    background-color: black;
    width: 100%;
    padding: 15px 0;
}

nav {
    display: flex;
    overflow-x: auto;
white-space: nowrap;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    flex: 0 0 auto;
}

nav a:hover {
    background-color: white;
    color: black;
}


}